<div ng-cloak>
  <md-content layout="row">
    <md-tabs md-center-tabs md-dynamic-height md-border-bottom flex="100">
      <md-tab label="Stats">
        <md-content class="md-padding">
          <div ng-repeat="answer in answers | orderObjectBy:'points':true" layout="column" flex>
            <p class="md-primary">{{ answer.name }}</p>
            <md-progress-linear md-mode="determinate" ng-value="answer.points"></md-progress-linear>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Questions">
        <md-content class="md-padding">
          <md-button ng-click="resetUsers()">Reset users</md-button>
          <form layout-padding>
            <div ng-repeat="q in questions">
              <hr ng-if="!$first"/>
              <md-input-container>
                <label>Question</label>
                <input type="text" ng-model="q.question">
              </md-input-container>
              <md-input-container ng-repeat="a in q.answers track by $index">
                <label>{{ $index+1}}. answer</label>
                <input type="text" ng-model="q.answers[$index]">
              </md-input-container>
              <md-input-container>
                <label>Correct answer</label>
                <input type="number" ng-model="q.correct">
              </md-input-container>
            </div>
            <p>
              <md-button class="md-primary" ng-click="addNew()" type="button">Add new</md-button>
            </p>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
